.background{
    background-color: #959595;
    height: 200px;
    margin-left: 150px;
    margin-right: 150px;
        texte{
            background-image:url(img/history1.jpg.);
            border-radius: 8px;
            color: black;
    }
}

.background1{
	background-color: #959595;
    height: 500px;
    margin-left: 150px;
    margin-right: 150px;
	
	
}