@import "compass/css3";
@import "histoire.scss";
.ouioui {	
	color: red !important;
}

.nonnon{
	color: blue;
}

.col-md-2 {
	background-color: blue;
}



.fond{
 background-image:url(/img/RR.jpg);   
}
    

    
    
    
     