@import "compass/css3";
.ouioui {	
	color: red !important;
}

.nonnon{
	color: blue;
}

.col-md-2 {
	background-color: blue;
}

.texte {
     color: aqua;
    @include opacity(0.1);
    
    
}

.fond{
 background-image:url(/img/RR.jpg);   
}


     