$police:"De luxe";
@mixin block-history($width,$color,$height){
	width: $width;
	height: $color;
	background-color: $height;
}
	
.background {
	background-color: #959595;
	height: 600px;
	margin-left: 150px;
	margin-right: 150px;
	.texte {
		text-align: left;
		border-radius: 8px;
		color: black;
		font-family: $police;
		#img {
			float: right;
			margin: 50px;
			;
		}	
	}
}
	
.first{
    
.background1 {
		background-color: #4c4c4c;
		height: 500px;
		margin-left: 150px;
		margin-right: 140px;
	
	.texte1 {
		text-align: left;
		border-radius: 25px;
		color: black;
		font-family: $police	;
			}
		}
}
#block-history{
	margin-top: 15 px;
	float: left;
	width: 25%;
	height: 400px;
	background-color: #959595;
	
}


