$police:"De luxe";

.background {
	background-color: #959595;
	height: 600px;
	margin-left: 150px;
	margin-right: 150px;
	.texte {
		text-align: left;
		border-radius: 8px;
		color: black;
		font-family: $police;
		#img {
			float: right;
			margin: 50px;
			;
		}
	}
}

.first{
    

	.background1 {
		background-color: #4c4c4c;
		height: 500px;
		margin-left: 150px;
		margin-right: 150px;
		.texte1 {
			text-align: left;
			border-radius: 8px;
			color: black;
			font-family: $police;
		}
		}
}
			#txt{
	float: left;
	width: 25%;
	height: 200px;
	background-color: red;
}

#prout {
	float: left;
	width: 25%;
	height: 200px;
	background-color: black;
}

#bla {
	float: left;
	width: 25%;
	height: 200px;
	background-color: green;
}

#blabla {
	float: right;
	width: 25%;
	height: 200px;
	background-color: blue;
}