@import "bootstrap.scss";
@import "compass/css3";
@import "histoire.scss";
@import "gallery.scss";

img{
  max-width:100%;
}

.no-padding{
  padding:0;
}

.cars-menu{
  text-align: center;
  position: fixed;
  a{
    display: block;
    padding-bottom:30px;
    border-bottom:1px solid #000000;
    span{
      display: block;
    }
  }
}


.single-car{
  .overlay {
    text-align: center;
    padding:20px;
    position: absolute;
    margin-top: -300px;
    background: rgba(0,0,0,0.4);
    p, h2{
      color:#FFF;
    }
  }
}

.logo {
  position: absolute;
  margin-bottom: 5px;
  right: 50%;
  opacity: 0.7;
    &:hover{opacity: 1.0;};
}

.hero {
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-animation: slide 40s ease;
  transform: translate3d(0,0,0);
  height: 100vh;
}

.hero:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(76,56,75,.8)
}

.hero__content {
  z-index: 101;
  position: relative;
}

@-webkit-keyframes slide {
  0%   { background-position: left; }
  50%   { background-position: right; }
  100% { background-position: left; }
}

.hero h1 {
  font-size: 50px;
  font-weight: 100;
  color: white;
  margin: 0;
}

.hero__content {
    padding: 200px 100px;
    max-width: 310px;
}

.btn {
  background: #4C384B;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 3px;
  font-size: 20px;
}
